<div class="gral">
  
  <div class="container__quiensoy">
    <a routerLink="/Principal" class="close-button"></a>

    <div class="containerLeft">

      <div class="containerPhoto">
        <img src="../../../assets/imagenes/avatar__quiensoy.jpg" alt="" class="photo">
      </div>

      <div class="containerInfo">
        <p class="mainName">Pablo Matwijiszyn</p>
        <p class="description">Mi nombre es Pablo Matwijiszyn, tengo 29 años. Soy estudiante del último cuatrimestre de la Tecnicatura Superior en Programación en la UTN.</p>
        <ul class="social">
          <li><a href="https://codepen.io/drbacon/" target= "_blank"><i class="fab fa-codepen"></i> codepen.io/drbacon</a></li>
          <li><a href="#"><i class="fas fa-envelope"></i> pmatwiji@gmail.com</a></li>
          <li><a href="https://www.instagram.com/dr.bacon__/" target= "_blank"><i class="fab fa-instagram"></i> Peps Matwijiszyn</a></li>
          <li><a href="https://github.com/pmatwiji" target= "_blank"><i class="fab fa-github-square"></i> pmatwiji</a></li>
        </ul>
      </div>

    </div>

    <div class="containerRight">
      <h1 class="title">Conocimientos</h1>
      <div class="bars">
        <p class="tool">HTML5</p>
        <div class="bar">
          <div class="progress html5"></div>
        </div>
        <p class="tool">CSS3</p>
        <div class="bar">
          <div class="progress css"></div>
        </div>
        <p class="tool">Javascript</p>
        <div class="bar">
          <div class="progress js"></div>
        </div>
        <p class="tool">Typescript</p>
        <div class="bar">
          <div class="progress ts"></div>
        </div>
        <p class="tool">C</p>
        <div class="bar">
          <div class="progress c"></div>
        </div>
        <p class="tool">Sass</p>
        <div class="bar">
          <div class="progress sass"></div>
        </div>
        <p class="tool">Bootstrap</p>
        <div class="bar">
          <div class="progress bootstrap"></div>
        </div>
        <p class="tool">Photoshop</p>
        <div class="bar">
          <div class="progress photoshop"></div>
        </div>
        <p class="tool">Illustrator</p>
        <div class="bar">
          <div class="progress illustrator"></div>
        </div>
      </div>
      <!-- h1 class="title">Estudios</h1>
      <div class="studies">
        <h3 class="subtitle">Bachiller con orientación en Arte, diseño y comunicación</h3>
        <p class="description">Instituto Westminster - Banfield (Marzo 2005 - Diciembre 2008)</p>
        <h3 class="subtitle">Curso de Diseñador Web</h3>
        <p class="description">Coderhouse - Palermo (Marzo 2018 - Junio 2018)</p>
        <p class="description">El curso constaba en aprender a diseñar un sitio web desde cero y adaptarlo a mobile. Se utilizaba HTML, CSS, SASS, Bootstrap, Javascript y Git. </p>
        <h3 class="subtitle">Tecnicatura superior en Programación</h3>
        <p class="description">UTN FRA (Agosto 2018 - En curso)</p>
        <p class="description">Cuarto cuatrimestre de la Tecnicatura en curso y 18 materias aprobadas</p>
        
      </div>
      <h1 class="title">Experiencia laboral</h1>
      <div class="jobs">
        <h3 class="subtitle">DirecTV Argentina</h3>
        <p class="description">Telemarketer (Abril 2010 - Enero 2018)</p>
      </div>
    </div-->
    
  </div>
</div>
  
  <!-- Footer -->
  <footer class="container-fluid bg-4 text-center">
    <p>Modificado por <span style="text-decoration: line-through;">www.octavio.com.ar</span><a href="https://github.com/pmatwiji"> Pablo Matwijiszyn</a></p> 
  </footer>