  <nav>
    <div id="menuToggle">
      <input type="checkbox" (click)="cerrar()">

      <span></span>
      <span></span>
      <span></span>

      <ul id="menu">
        <a routerLink="/Principal">
          <li>Principal</li>
        </a>


        <a data-toggle="dropdown" (click)="btnMenuJuegos()">
          <li>Juegos</li>
        </a>
        <ul class="menuJuegos" [hidden]="!botonJuego">
          <li (click)="cambiarJuego('agilidad')"><a>Agilidad Aritmetica</a></li>
          <li (click)="cambiarJuego('ppt')"><a>Piedra Papel o Tijera</a></li>
          <li (click)="cambiarJuego('adivina')"><a>Adivina el numero</a></li>
          <li (click)="cambiarJuego('tateti')"><a>Ta te ti</a></li>
          <li (click)="cambiarJuego('anagrama')"><a>Anagrama</a></li>
          <li (click)="cambiarJuego('memotest')"><a>Memotest</a></li>
          <li (click)="cambiarJuego('clicker')"><a>Clicker</a></li>
          <!-- li (click)="cambiarJuego('tetris')"><a>tetris</a></li -->
        </ul>


        <a routerLink="/QuienSoy">
          <li>¿Quien soy?</li>
        </a>
        <a routerLink="/Login">
          <li>Salir</li>
        </a>
      </ul>
    </div>
  </nav>
