@import "../../../styles.scss";

.container__listadoResultados{
    @include boxDerechaPrincipal;
    border: 5px solid rgb(124, 20, 172);
    border-radius: 15px;
    background-color: $clr-dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $fuente_arcade;
    overflow-y: scroll;
    &::-webkit-scrollbar{
        display: none;
    }
    h1{
        color: $clr-btn;

    }
    table{
        position: relative;
        text-align: center;
        width: 90%;
        font-size: 1.5em;
        letter-spacing: 3px;
        max-height: 600px;

        thead{
            color: red;
        }
    }
}
