@import '../../../styles.scss';

.juego {
  height: 100%;
  width: 50vw;
  border: 10px solid $clr-txt-log;
  border-radius: 15px;
  padding: 2em;
  background: $clr-dark;
  color: $clr-ligth;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: $fuente_arcade;
  letter-spacing: 1.1px;
  font-size: 2em;

  .tablero{
    margin: 50px auto;
    width: 400px;
    height: 400px;
    border: 10px solid $clr-txt-log;
    background-color:rgba(186, 81, 212, 0.5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

  }
}


button:focus {outline:0;}


