@import '../../../styles.scss';

.container-list {
    margin-top: 10%;
    background-color: rgba(0, 0, 0, 0.418);
    width: 70%;
    min-height: 65vh;
    text-align: center;
    font-family: $fuente_italic;
    font-size: 2vw;
    display: flex;
    align-items: center;
    border-radius: 10%;
    color: $--main_color;
    letter-spacing: 3px;
    transform: translate(22.5%,0%);
    ul{
        list-style:none;
        margin: auto;
        position: relative;
        right: 5%;
        li {
            padding: 1em 0px;
            &:hover {
                color: whitesmoke;
                @include glowLetra;

            }
        }
    }
}



@keyframes glow {
    from {
      text-shadow: 0 0 10px rgba(255, 251, 44, 0.411), 0 0 20px rgba(255, 251, 44, 0.411), 0 0 30px #f5e239, 0 0 40px #f5e239, 0 0 50px #f5e239, 0 0 60px #f5e239, 0 0 70px #f5e239;
    }
    
    to {
      text-shadow: 0 0 20px rgba(255, 251, 44, 0.411), 0 0 30px $--main_color, 0 0 40px $--main_color, 0 0 50px$--main_color, 0 0 60px$--main_color, 0 0 70px $--main_color, 0 0 80px$--main_color;
    }
  }
