  <div class="blur"></div>
 <div class="main">
   <div class="container__login">
      
      <div class="container__form-login">
        <a routerLink="/Principal" class="close-button"></a>

        <div class="content">
          <h2>Registrate</h2>
          <form action="" id="form-login">

            <div class="form-element form-stack">
              <label for="username-login" class="form-label">Correo electrónico</label>
              <input type="mail" id="username-login" name="username" [(ngModel)]="correo">
            </div>
            
            <div class="form-element form-stack">
              <label for="password" class="form-label">Contraseña</label>
              <input type="password" id="password" name="password" [(ngModel)]="password">
            </div>

            <div class="form-element form-stack">
              <label for="password-repeat" class="form-label">Repetir contraseña</label>
              <input type="password" id="password-repeat" name="password-repeat" [(ngModel)]="repetirPassword">
            </div>

            <div class="form-element">
              <button id="logIn" class="login" type="submit" name="login" (click)="Register()">Registrar</button>
              <p>{{mensaje}}</p>
            </div>
          </form>
        </div>
      </div>
      <img src="../../../assets/imagenes/img__registro.gif" alt="">
   </div>
 </div>