<div class="juego">
  <div style="text-align:center">
    <h1>
      Memotest
    </h1>
  </div>
  <div class="tablero" [hidden]="!juegoNuevo">
    <button class='casillero' *ngFor="let ficha of fichas" 
    [ngClass]="{c1: cuadrados[ficha.index] == '0' && mostrar[ficha.index], c2: cuadrados[ficha.index] == '1' && mostrar[ficha.index], c3: cuadrados[ficha.index] == '2' && mostrar[ficha.index], c4: cuadrados[ficha.index] == '3' && mostrar[ficha.index],c5: cuadrados[ficha.index] == '4' && mostrar[ficha.index]}" [disabled]="deshabilitar"(click)="seleccionar(ficha.index)">
    </button>
  </div>
  <button [hidden]="juegoNuevo"  (click)="comenzar()">Nuevo juego</button>
  <h1 [hidden]="!juegoNuevo">Intentos: {{intentos}}</h1>
  <br>
  <p style="text-align: center;">{{mensaje}}</p>
</div>

