 <!-- <div class="container" >
  <div class="jumbotron" style="padding:50px;">
    <form action="return true;">
      <div class="imgcontainer">
        <img src="../../../assets/imagenes/login__avatar.png" alt="Avatar" class="avatar" max-width="104" >
      </div>

      <div class="container">
        <label><b>Usuario</b></label>
        <input type="text" placeholder="Usuario"  [(ngModel)]="usuario"  name="uname" required>

        <label><b>Clave</b></label>
        <input type="password" placeholder="Clave"  [(ngModel)]="clave" name="psw" required>
            
        <button *ngIf="logeando"  (click)="MoverBarraDeProgreso()" >Ingresar</button>
       
        <div *ngIf="!logeando" class="progress">
            <div class="progress-bar progress-bar-info progress-bar-striped active" [class]="clase" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" [style.width]="ProgresoDeAncho" >
              {{progresoMensaje}} - {{progreso}}%
            </div>
        </div>
       
        <input type="checkbox" checked="checked"> Recordar mis datos
      </div>

      <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn">Cancelar</button>
        <button type="button" class="aceptbtn" routerLink="/Registro" >Registrarse</button>
        <span class="psw">Te olvidaste <a href="#">la clave?</a></span>
      </div>
     
    </form>
  </div>
</div> -->
<div class="blur"></div>
 <div class="main">
   <div class="container__login">
      <img src="../../../assets/imagenes/login2.gif" alt="">
      <div class="container__form-login">
        <a routerLink="/Principal" class="close-button"></a>

        <div class="content">
          <h2>Login</h2>
          <form action="" id="form-login">
            
            <div class="form-element form-stack">
              <label for="username-login" class="form-label">Correo electrónico</label>
              <input type="text" id="username-login" name="username">
            </div>

            <div class="form-element form-stack">
              <label for="password-login" class="form-label">Contraseña</label>
              <input type="password" id="password-login" name="password">
            </div>

            <div class="form-element">
              <button id="logIn" class="login" type="submit" name="login">Ingresar</button>
            </div>
          </form>
        </div>
      </div>
   </div>
 </div>
