@import '../../../styles.scss';


*{
    box-sizing: border-box;
}


.container__arcade{
    @include boxDerechaPrincipal;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    .juego{
        position: relative;
        width: 12.5em;
        background-color: $clr-dark;
        height: max-content;
        border-radius: 15px;
        color: $clr-ligth;
        justify-content: center;
        flex-direction: column;
        &:hover{
            @include glowBox;
        }
        .nombre{
            margin: 1.75em 0;
            text-align: center;
            font-size: 1em;
        }
        img{
            max-width: 100%;
            border-radius: 15px 15px 0 0;
        }
        .ranking{
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .btn-jugar{

            text-align: center;
            margin: 0.75em auto;
            background-color: $clr-btn;
            border-radius: 15px;
            width: 80%;
            cursor: pointer;
        }
    }
}

h1,h2,h3,p {
    margin: 0;
}



