<div class="container__arcade">
    <div class="juego">
        <div class="front">
            <img src="../../../assets/imagenes/aritmetica__icon.jpg" alt="">
            <h3 class="nombre">Agilidad Aritmetica</h3>
            <div class="ranking">
                <p class="podio">1. 10pts</p>
                <p class="podio">2. 8pts</p>
                <p class="podio">3. 5pts</p>
            </div>
            <div class="btn-jugar">Jugar</div>
        </div>
    </div>
    <div class="juego">
        <div class="front">
            <img src="../../../assets/imagenes/ppt__icon.jpg" alt="">
            <h3 class="nombre">Piedra, Papel o Tijera</h3>
            <div class="ranking">
                <p class="podio">1. 10pts</p>
                <p class="podio">2. 8pts</p>
                <p class="podio">3. 5pts</p>
            </div>
            <div class="btn-jugar">Jugar</div>
        </div>
    </div>
    <div class="juego">
        <div class="front">
            <img src="../../../assets/imagenes/adivina-numero__icon.jpg" alt="">
            <h3 class="nombre">Adivina el numero</h3>
            <div class="ranking">
                <p class="podio">1. 10pts</p>
                <p class="podio">2. 8pts</p>
                <p class="podio">3. 5pts</p>
            </div>
            <div class="btn-jugar">Jugar</div>
        </div>
    </div>
    <div class="juego">
        <div class="front">
            <img src="../../../assets/imagenes/tateti__icon.jpg" alt="">
            <h3 class="nombre">Ta Te Ti</h3>
            <div class="ranking">
                <p class="podio">1. 10pts</p>
                <p class="podio">2. 8pts</p>
                <p class="podio">3. 5pts</p>
            </div>
            <div class="btn-jugar">Jugar</div>
        </div>
    </div>
    <div class="juego">
        <div class="front">
            <img src="../../../assets/imagenes/anagrama__icon.jpg" alt="">
            <h3 class="nombre">Anagrama</h3>
            <div class="ranking">
                <p class="podio">1. 10pts</p>
                <p class="podio">2. 8pts</p>
                <p class="podio">3. 5pts</p>
            </div>
            <div class="btn-jugar">Jugar</div>
        </div>
    </div>
    <div class="juego">
        <div class="front">
            <img src="../../../assets/imagenes/memotest__icon.jpg" alt="">
            <h3 class="nombre">Memotest</h3>
            <div class="ranking">
                <p class="podio">1. 10pts</p>
                <p class="podio">2. 8pts</p>
                <p class="podio">3. 5pts</p>
            </div>
            <div class="btn-jugar">Jugar</div>
        </div>
    </div>
</div>

