/* You can add global styles to this file, and also import other style files */
$fuente_principal: Super Retro;
$fuente_italic: Super Retro Italic;
$--main_color:#fff25d;

@font-face {
    font-family: 'Super Retro';
    src: url("./assets/fuentes/Super\ Retro\ M54.ttf");
}

@font-face {
    font-family: 'Super Retro Italic';
    src: url("./assets/fuentes/Super\ Retro\ Italic\ M54.ttf");
}