<div class="container__cabecera">

  <div class="container__registro">
    <ul class="list__registro">
      <li class="btn__registro"><a routerLink="/Registro">Registrarse</a></li>
      <li class="btn__login"><a routerLink="/Login">Ingresar</a></li>
    </ul>
  </div>

  <div class="container__titulo">
    <h1 class="titulo">Sala de Juegos</h1>
  </div>

  <div class="container__mis-datos">
    <p>Pablo Matwijiszyn</p>
      <a href="https://github.com/pmatwiji"target="_blank">en GitHub <i class="fa fa-github"></i></a>
      <a routerLink="/QuienSoy" >Quien Soy? <i class="fa fa-user"></i></a>
  </div>

</div>
