@import '../../../styles.scss';

.container__cabecera{
    width: 100%;
    padding-top: 1em;
    background: rgba(0, 0, 0, 0.267);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .container__titulo, .container__registro, .container__mis-datos{
        width: calc(100vw / 3);
        justify-content: center;
        text-align: center;
        .titulo {
            font-family: $fuente_principal;
            font-size: 2.5vw;
            letter-spacing: 3px;
            color: #ffffff;
            @include glowLetra;
            //min-width: 15em;
        }
    }
    .container__registro {
        .list__registro {
            display: flex;
            list-style: none;
            .btn__registro, .btn__login, .btn__salir{
                position: relative;
                top: 0;
                margin: 0 1em;
                background-color: #669934;
                border: 1px solid #4A791D;
                padding: 10px;
                width: 8vw;
                border-radius: 20px;
                font-weight: bold;
                box-shadow: 0px 5px 0px #4A791D;
                &:active {
                    box-shadow: none;
                    top: 5px;
                    transition: All 250ms ease;
                }
                a{
                    font-size: 1.125vw;
                    text-decoration: none;
                    color: whitesmoke;
                    margin: auto;
                }
                
            }
            .btn__login, .btn__salir {
                background-color: #E60024;
                border: 1px solid #AE0313;
                box-shadow: 0px 5px 0px #AE0313;
            }
            .btn__salir{
                color: whitesmoke;
                //margin: auto;
            }
            
        }
        
    }
    .container__mis-datos{
        color: whitesmoke;
        font-family: $fuente_arcade;
        a{
            text-decoration: none;
        }
    }

}




