<div class="container__cabecera">

  <div class="container__registro">
    <ul class="list__registro">
      <li [hidden]="mailUser" class="btn__registro"><a routerLink="/Registro">Registrarse</a></li>
      <li [hidden]="mailUser" class="btn__login"><a routerLink="/Login">Ingresar</a></li>
      <li [hidden]="!mailUser" class="btn__salir" (click)="salir()">Salir</li>
    </ul>
  </div>

  <div class="container__titulo">
    <h1 class="titulo">Sala de Juegos</h1>
  </div>

  <div class="container__mis-datos">
    <p [hidden]="mailUser">Pablo Matwijiszyn</p>
    <p [hidden]="!mailUser" >{{mailUser}}</p>
    <a routerLink="/QuienSoy">Quien Soy?</a>
  </div>

</div>
