@import '../../../styles.scss';

.container__cabecera{
    width: 100%;
    padding-top: 1em;
    background: rgba(0, 0, 0, 0.267);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .container__titulo, .container__registro, .container__mis-datos{
        width: calc(100vw / 3);
        //height: 100%;
        justify-content: center;
        //align-items: center;
        text-align: center;
        .titulo {
            font-family: $fuente_principal;
            font-size: 2.5vw;
            letter-spacing: 3px;
            color: #ffffff;
            animation: glow 1s ease-in-out infinite alternate;
            //min-width: 15em;
        }
    }
    .container__registro {
        .list__registro {
            display: flex;
            list-style: none;
            .btn__registro, .btn__login{
                position: relative;
                top: 0;
                margin: 0 1em;
                background-color: #669934;
                border: 1px solid #4A791D;
                padding: 10px;
                width: 8vw;
                border-radius: 20px;
                font-weight: bold;
                box-shadow: 0px 5px 0px #4A791D;
                &:active {
                    box-shadow: none;
                    top: 5px;
                    transition: All 250ms ease;
                }
                a{
                    font-size: 1.125vw;
                    text-decoration: none;
                    color: whitesmoke;
                    margin: auto;
                }
                
            }
            .btn__login {
                background-color: #E60024;
                border: 1px solid #AE0313;
                box-shadow: 0px 5px 0px #AE0313;
            }
        }
        
    }
    .container__mis-datos{
        color: whitesmoke;
    }

}


@keyframes glow {
    from {
      text-shadow: 0 0 10px rgba(255, 251, 44, 0.411), 0 0 20px rgba(255, 251, 44, 0.411), 0 0 30px #f5e239, 0 0 40px #f5e239, 0 0 50px #f5e239, 0 0 60px #f5e239, 0 0 70px #f5e239;
    }
    
    to {
      text-shadow: 0 0 20px rgba(255, 251, 44, 0.411), 0 0 30px $--main_color, 0 0 40px $--main_color, 0 0 50px$--main_color, 0 0 60px$--main_color, 0 0 70px $--main_color, 0 0 80px$--main_color;
    }
  }


