@import "../../../styles.scss";

.container__config{
    @include boxDerechaPrincipal;
    border: 5px solid rgb(124, 20, 172);
    border-radius: 15px;
    background: url(../../../assets/imagenes/ruido.jpg);
    animation: animate 0.5s steps(10) infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
        text-align: center;
        font-size: 5em;
        font-family: $fuente_arcade;
        color: $clr-dark;
        font-weight: bolder;
    }
}

@keyframes animate {
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 100% 100%;
    }
}