<div class="juego">
  <div style="text-align:center">
    <h1>
      Ta-Te-Ti
    </h1>
  </div>
  <div class="tablero">
      <div class='casillero' id='c1' (click)="ponerX(0)"></div>
      <div class='casillero' id='c2' (click)="ponerX(1)"></div>
      <div class='casillero' id='c3' (click)="ponerX(2)"></div>
      <div class='casillero' id='c4' (click)="ponerX(3)"></div>
      <div class='casillero' id='c5' (click)="ponerX(4)"></div>
      <div class='casillero' id='c6' (click)="ponerX(5)"></div>
      <div class='casillero' id='c7' (click)="ponerX(6)"></div>
      <div class='casillero' id='c8' (click)="ponerX(7)"></div>
      <div class='casillero' id='c9' (click)="ponerX(8)"></div>
  </div>

  <h1 style="text-align:center">{{resultado}}</h1>
  <button  [hidden]="resultado == ''" (click)="reset()">Jugar otra vez</button>
</div>
