<div class="juego">
  <div style="text-align:center">
    <h1>
      Ta-Te-Ti
    </h1>
  </div>
  <div class="tablero">
      <div class='casillero' id='uno' (click)="ponerX('uno')"></div>
      <div class='casillero' id='dos' (click)="ponerX('dos')"></div>
      <div class='casillero' id='tres' (click)="ponerX('tres')"></div>
      <div class='casillero' id='cuatro' (click)="ponerX('cuatro')"></div>
      <div class='casillero' id='cinco' (click)="ponerX('cinco')"></div>
      <div class='casillero' id='seis' (click)="ponerX('seis')"></div>
      <div class='casillero' id='siete' (click)="ponerX('siete')"></div>
      <div class='casillero' id='ocho' (click)="ponerX('ocho')"></div>
      <div class='casillero' id='nueve' (click)="ponerX('nueve')"></div>
  </div>
</div>
